<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add-circle-sharp">
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="play-circle-outline">
      <ion-icon name="play-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="person-circle" [routerLink]="['/dashboard/personal-profile']">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>